<!DOCTYPE html>
<html lang="en">
<head>

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Smooth Fade-Up Responsive Navigation</title>
      <!-- <link rel="stylesheet" href="style.css"> -->
      <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
      <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
    <!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDySdsZG3tJO4FJqgu24ujKy8kIdlexmsE&v=3.exp&libraries=places" async defer></script> -->

      <nav>
            <span id="brand">
                  <a href="index.html">PARK HERE</a>
            </span>

            <ul id="menu">
                <li><a routerLink="" class="active">Home</a></li>
                <li><a routerLink="/login">News</a></li>
                <li><a routerLink="/comment">Comment</a></li>
                <!-- <li ><a routerLink="/resetpassword">forgotten password</a></li> -->
                <li *ngIf="state" ><a (click)="click()" routerLink="/login">Signout</a></li>
                <li *ngIf="state" ><a routerLink="/login">profile</a></li>
                <li *ngIf="!state" ><a routerLink="/login">SignIn</a></li>
                <li ><a routerLink="/reg">SignUp</a></li>
            </ul>

            <div (click)="js()" id="toggle">
                  <div class="span" id="one"></div>
                  <div class="span" id="two"></div>
                  <div class="span" id="three"></div>
            </div>
      </nav>

      <div id="resize">
            <ul id="menu">
                <li><a routerLink="/" class="active">Home</a></li>
                <li><a routerLink="/login">News</a></li>
                <li><a routerLink="/comment">Comment</a></li>
                <!-- <li ><a routerLink="/resetpassword">forgotten password</a></li> -->
                <li *ngIf="state" ><a (click)="click()" routerLink="/login">Signout</a></li>
                <li *ngIf="state" ><a routerLink="/login">profile</a></li>
                <li *ngIf="!state" ><a routerLink="/login">SignIn</a></li>
                <li ><a routerLink="/reg">SignUp</a></li>
            </ul>
      </div>

      <div style="padding:0 16px;">
          <router-outlet></router-outlet>
          <!-- <app-file-upload></app-file-upload> -->
      </div>

    
</body>
</html>